# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# Spark Output Data
bronze/
silver/
gold/

# Spark Checkpoints
bronze_checkpoint/
silver_checkpoint/
gold_checkpoint/

# Spark Dependencies
.ivy2/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment Files
.env

# Logs
*.log