# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environments
venv/
.venv/
env/

# Spark
.metastore_db/
spark-warehouse/
*.crc

# Checkpoints
bronze_checkpoint/
silver_checkpoint/
gold_checkpoint/

# Generated Data
bronze/
silver/
gold/

# Spark Metadata
_spark_metadata/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Temporary Files
tmp/
temp/

# Local Test Files
test.txt

# Ivy Cache
.ivy2/